In [1]:
import python.monkdata as monkdata

In [2]:
monkdata.monk2

(ID 4 -({A1: 1, A2: 1, A3: 1, A4: 1, A5: 2, A6: 2}),
 ID 7 -({A1: 1, A2: 1, A3: 1, A4: 1, A5: 4, A6: 1}),
 ID 9 -({A1: 1, A2: 1, A3: 1, A4: 2, A5: 1, A6: 1}),
 ID 10 -({A1: 1, A2: 1, A3: 1, A4: 2, A5: 1, A6: 2}),
 ID 11 -({A1: 1, A2: 1, A3: 1, A4: 2, A5: 2, A6: 1}),
 ID 13 -({A1: 1, A2: 1, A3: 1, A4: 2, A5: 3, A6: 1}),
 ID 15 -({A1: 1, A2: 1, A3: 1, A4: 2, A5: 4, A6: 1}),
 ID 19 -({A1: 1, A2: 1, A3: 1, A4: 3, A5: 2, A6: 1}),
 ID 23 -({A1: 1, A2: 1, A3: 1, A4: 3, A5: 4, A6: 1}),
 ID 25 -({A1: 1, A2: 1, A3: 2, A4: 1, A5: 1, A6: 1}),
 ID 26 -({A1: 1, A2: 1, A3: 2, A4: 1, A5: 1, A6: 2}),
 ID 37 -({A1: 1, A2: 1, A3: 2, A4: 2, A5: 3, A6: 1}),
 ID 39 -({A1: 1, A2: 1, A3: 2, A4: 2, A5: 4, A6: 1}),
 ID 40 +({A1: 1, A2: 1, A3: 2, A4: 2, A5: 4, A6: 2}),
 ID 42 -({A1: 1, A2: 1, A3: 2, A4: 3, A5: 1, A6: 2}),
 ID 44 +({A1: 1, A2: 1, A3: 2, A4: 3, A5: 2, A6: 2}),
 ID 50 -({A1: 1, A2: 2, A3: 1, A4: 1, A5: 1, A6: 2}),
 ID 58 -({A1: 1, A2: 2, A3: 1, A4: 2, A5: 1, A6: 2}),
 ID 60 +({A1: 1, A2: 2, A3: 1, A4: 2, A5: 2, A6: 2}),
 ID 61 -({A1: 1, A2: 2, A3: 1, A4: 2, A5: 3, A6: 1}),
 ID 62 +({A1: 1, A2: 2, A3: 1, A4: 2, A5: 3, A6: 2}),
 ID 63 -({A1: 1, A2: 2, A3: 1, A4: 2, A5: 4, A6: 1}),
 ID 65 -({A1: 1, A2: 2, A3: 1, A4: 3, A5: 1, A6: 1}),
 ID 66 -({A1: 1, A2: 2, A3: 1, A4: 3, A5: 1, A6: 2}),
 ID 68 +({A1: 1, A2: 2, A3: 1, A4: 3, A5: 2, A6: 2}),
 ID 69 -({A1: 1, A2: 2, A3: 1, A4: 3, A5: 3, A6: 1}),
 ID 70 +({A1: 1, A2: 2, A3: 1, A4: 3, A5: 3, A6: 2}),
 ID 71 -({A1: 1, A2: 2, A3: 1, A4: 3, A5: 4, A6: 1}),
 ID 72 +({A1: 1, A2: 2, A3: 1, A4: 3, A5: 4, A6: 2}),
 ID 75 -({A1: 1, A2: 2, A3: 2, A4: 1, A5: 2, A6: 1}),
 ID 79 -({A1: 1, A2: 2, A3: 2, A4: 1, A5: 4, A6: 1}),
 ID 85 +({A1: 1, A2: 2, A3: 2, A4: 2, A5: 3, A6: 1}),
 ID 87 +({A1: 1, A2: 2, A3: 2, A4: 2, A5: 4, A6: 1}),
 ID 89 -({A1: 1, A2: 2, A3: 2, A4: 3, A5: 1, A6: 1}),
 ID 90 +({A1: 1, A2: 2, A3: 2, A4: 3, A5: 1, A6: 2}),
 ID 93 +({A1: 1, A2: 2, A3: 2, A4: 3, A5: 3, A6: 1}),
 ID 94 -({A1: 1, A2: 2, A3: 2, A4: 3, A5: 3, A6: 2}),
 ID 95 +({A1: 1, A2: 2, A3: 2, A4: 3, A5: 4, A6: 1}),
 ID 96 -({A1: 1, A2: 2, A3: 2, A4: 3, A5: 4, A6: 2}),
 ID 98 -({A1: 1, A2: 3, A3: 1, A4: 1, A5: 1, A6: 2}),
 ID 100 -({A1: 1, A2: 3, A3: 1, A4: 1, A5: 2, A6: 2}),
 ID 101 -({A1: 1, A2: 3, A3: 1, A4: 1, A5: 3, A6: 1}),
 ID 102 -({A1: 1, A2: 3, A3: 1, A4: 1, A5: 3, A6: 2}),
 ID 107 -({A1: 1, A2: 3, A3: 1, A4: 2, A5: 2, A6: 1}),
 ID 108 +({A1: 1, A2: 3, A3: 1, A4: 2, A5: 2, A6: 2}),
 ID 110 +({A1: 1, A2: 3, A3: 1, A4: 2, A5: 3, A6: 2}),
 ID 111 -({A1: 1, A2: 3, A3: 1, A4: 2, A5: 4, A6: 1}),
 ID 116 +({A1: 1, A2: 3, A3: 1, A4: 3, A5: 2, A6: 2}),
 ID 117 -({A1: 1, A2: 3, A3: 1, A4: 3, A5: 3, A6: 1}),
 ID 120 +({A1: 1, A2: 3, A3: 1, A4: 3, A5: 4, A6: 2}),
 ID 125 -({A1: 1, A2: 3, A3: 2, A4: 1, A5: 3, A6: 1}),
 ID 126 +({A1: 1, A2: 3, A3: 2, A4: 1, A5: 3, A6: 2}),
 ID 127 -({A1: 1, A2: 3, A3: 2, A4: 1, A5: 4, A6: 1}),
 ID 130 +({A1: 1, A2: 3, A3: 2, A4: 2, A5: 1, A6: 2}),
 ID 134 -({A1: 1, A2: 3, A3: 2, A4: 2, A5: 3, A6: 2}),
 ID 136 -({A1: 1, A2: 3, A3: 2, A4: 2, A5: 4, A6: 2}),
 ID 139 +({A1: 1, A2: 3, A3: 2, A4: 3, A5: 2, A6: 1}),
 ID 145 -({A1: 2, A2: 1, A3: 1, A4: 1, A5: 1, A6: 1}),
 ID 148 -({A1: 2, A2: 1, A3: 1, A4: 1, A5: 2, A6: 2}),
 ID 149 -({A1: 2, A2: 1, A3: 1, A4: 1, A5: 3, A6: 1}),
 ID 156 +({A1: 2, A2: 1, A3: 1, A4: 2, A5: 2, A6: 2}),
 ID 162 -({A1: 2, A2: 1, A3: 1, A4: 3, A5: 1, A6: 2}),
 ID 164 +({A1: 2, A2: 1, A3: 1, A4: 3, A5: 2, A6: 2}),
 ID 166 +({A1: 2, A2: 1, A3: 1, A4: 3, A5: 3, A6: 2}),
 ID 167 -({A1: 2, A2: 1, A3: 1, A4: 3, A5: 4, A6: 1}),
 ID 169 -({A1: 2, A2: 1, A3: 2, A4: 1, A5: 1, A6: 1}),
 ID 172 +({A1: 2, A2: 1, A3: 2, A4: 1, A5: 2, A6: 2}),
 ID 175 -({A1: 2, A2: 1, A3: 2, A4: 1, A5: 4, A6: 1}),
 ID 179 +({A1: 2, A2: 1, A3: 2, A4: 2, A5: 2, A6: 1}),
 ID 184 -({A1: 2, A2: 1, A3: 2, A4: 2, A5: 4, A6: 2}),
 ID 185 -({A1: 2, A2: 1, A3: 2, A4: 3, A5: 1, A6: 1}),
 ID 186 +({A1: 2, A2: 1, A3: 2, A4: 3, A5: 1, A6: 2}),
 ID 188 -({A1: 2, A2: 1, A3: 2, A4: 3, A5: 2, A6: 2}),
 ID 190 -({A1: 2, A2: 1, A3: 2, A4: 3, A5: 3, A6: 2}),
 ID 192 -({A1: 2, A2: 1, A3: 2, A4: 3, A5: 4, A6: 2}),
 ID 197 -({A1: 2, A2: 2, A3: 1, A4: 1, A5: 3, A6: 1}),
 ID 200 +({A1: 2, A2: 2, A3: 1, A4: 1, A5: 4, A6: 2}),
 ID 201 -({A1: 2, A2: 2, A3: 1, A4: 2, A5: 1, A6: 1}),
 ID 205 +({A1: 2, A2: 2, A3: 1, A4: 2, A5: 3, A6: 1}),
 ID 213 +({A1: 2, A2: 2, A3: 1, A4: 3, A5: 3, A6: 1}),
 ID 214 -({A1: 2, A2: 2, A3: 1, A4: 3, A5: 3, A6: 2}),
 ID 215 +({A1: 2, A2: 2, A3: 1, A4: 3, A5: 4, A6: 1}),
 ID 217 -({A1: 2, A2: 2, A3: 2, A4: 1, A5: 1, A6: 1}),
 ID 220 -({A1: 2, A2: 2, A3: 2, A4: 1, A5: 2, A6: 2}),
 ID 222 -({A1: 2, A2: 2, A3: 2, A4: 1, A5: 3, A6: 2}),
 ID 223 +({A1: 2, A2: 2, A3: 2, A4: 1, A5: 4, A6: 1}),
 ID 224 -({A1: 2, A2: 2, A3: 2, A4: 1, A5: 4, A6: 2}),
 ID 225 +({A1: 2, A2: 2, A3: 2, A4: 2, A5: 1, A6: 1}),
 ID 228 -({A1: 2, A2: 2, A3: 2, A4: 2, A5: 2, A6: 2}),
 ID 229 -({A1: 2, A2: 2, A3: 2, A4: 2, A5: 3, A6: 1}),
 ID 233 +({A1: 2, A2: 2, A3: 2, A4: 3, A5: 1, A6: 1}),
 ID 235 -({A1: 2, A2: 2, A3: 2, A4: 3, A5: 2, A6: 1}),
 ID 236 -({A1: 2, A2: 2, A3: 2, A4: 3, A5: 2, A6: 2}),
 ID 240 -({A1: 2, A2: 2, A3: 2, A4: 3, A5: 4, A6: 2}),
 ID 241 -({A1: 2, A2: 3, A3: 1, A4: 1, A5: 1, A6: 1}),
 ID 242 -({A1: 2, A2: 3, A3: 1, A4: 1, A5: 1, A6: 2}),
 ID 246 +({A1: 2, A2: 3, A3: 1, A4: 1, A5: 3, A6: 2}),
 ID 249 -({A1: 2, A2: 3, A3: 1, A4: 2, A5: 1, A6: 1}),
 ID 253 +({A1: 2, A2: 3, A3: 1, A4: 2, A5: 3, A6: 1}),
 ID 254 -({A1: 2, A2: 3, A3: 1, A4: 2, A5: 3, A6: 2}),
 ID 256 -({A1: 2, A2: 3, A3: 1, A4: 2, A5: 4, A6: 2}),
 ID 258 +({A1: 2, A2: 3, A3: 1, A4: 3, A5: 1, A6: 2}),
 ID 259 +({A1: 2, A2: 3, A3: 1, A4: 3, A5: 2, A6: 1}),
 ID 263 +({A1: 2, A2: 3, A3: 1, A4: 3, A5: 4, A6: 1}),
 ID 266 +({A1: 2, A2: 3, A3: 2, A4: 1, A5: 1, A6: 2}),
 ID 267 +({A1: 2, A2: 3, A3: 2, A4: 1, A5: 2, A6: 1}),
 ID 269 +({A1: 2, A2: 3, A3: 2, A4: 1, A5: 3, A6: 1}),
 ID 272 -({A1: 2, A2: 3, A3: 2, A4: 1, A5: 4, A6: 2}),
 ID 273 +({A1: 2, A2: 3, A3: 2, A4: 2, A5: 1, A6: 1}),
 ID 275 -({A1: 2, A2: 3, A3: 2, A4: 2, A5: 2, A6: 1}),
 ID 278 -({A1: 2, A2: 3, A3: 2, A4: 2, A5: 3, A6: 2}),
 ID 285 -({A1: 2, A2: 3, A3: 2, A4: 3, A5: 3, A6: 1}),
 ID 286 -({A1: 2, A2: 3, A3: 2, A4: 3, A5: 3, A6: 2}),
 ID 288 -({A1: 2, A2: 3, A3: 2, A4: 3, A5: 4, A6: 2}),
 ID 295 -({A1: 3, A2: 1, A3: 1, A4: 1, A5: 4, A6: 1}),
 ID 298 -({A1: 3, A2: 1, A3: 1, A4: 2, A5: 1, A6: 2}),
 ID 300 +({A1: 3, A2: 1, A3: 1, A4: 2, A5: 2, A6: 2}),
 ID 302 +({A1: 3, A2: 1, A3: 1, A4: 2, A5: 3, A6: 2}),
 ID 303 -({A1: 3, A2: 1, A3: 1, A4: 2, A5: 4, A6: 1}),
 ID 304 +({A1: 3, A2: 1, A3: 1, A4: 2, A5: 4, A6: 2}),
 ID 305 -({A1: 3, A2: 1, A3: 1, A4: 3, A5: 1, A6: 1}),
 ID 306 -({A1: 3, A2: 1, A3: 1, A4: 3, A5: 1, A6: 2}),
 ID 308 +({A1: 3, A2: 1, A3: 1, A4: 3, A5: 2, A6: 2}),
 ID 310 +({A1: 3, A2: 1, A3: 1, A4: 3, A5: 3, A6: 2}),
 ID 313 -({A1: 3, A2: 1, A3: 2, A4: 1, A5: 1, A6: 1}),
 ID 316 +({A1: 3, A2: 1, A3: 2, A4: 1, A5: 2, A6: 2}),
 ID 317 -({A1: 3, A2: 1, A3: 2, A4: 1, A5: 3, A6: 1}),
 ID 318 +({A1: 3, A2: 1, A3: 2, A4: 1, A5: 3, A6: 2}),
 ID 319 -({A1: 3, A2: 1, A3: 2, A4: 1, A5: 4, A6: 1}),
 ID 320 +({A1: 3, A2: 1, A3: 2, A4: 1, A5: 4, A6: 2}),
 ID 323 +({A1: 3, A2: 1, A3: 2, A4: 2, A5: 2, A6: 1}),
 ID 330 +({A1: 3, A2: 1, A3: 2, A4: 3, A5: 1, A6: 2}),
 ID 331 +({A1: 3, A2: 1, A3: 2, A4: 3, A5: 2, A6: 1}),
 ID 332 -({A1: 3, A2: 1, A3: 2, A4: 3, A5: 2, A6: 2}),
 ID 336 -({A1: 3, A2: 1, A3: 2, A4: 3, A5: 4, A6: 2}),
 ID 338 -({A1: 3, A2: 2, A3: 1, A4: 1, A5: 1, A6: 2}),
 ID 340 +({A1: 3, A2: 2, A3: 1, A4: 1, A5: 2, A6: 2}),
 ID 341 -({A1: 3, A2: 2, A3: 1, A4: 1, A5: 3, A6: 1}),
 ID 342 +({A1: 3, A2: 2, A3: 1, A4: 1, A5: 3, A6: 2}),
 ID 346 +({A1: 3, A2: 2, A3: 1, A4: 2, A5: 1, A6: 2}),
 ID 347 +({A1: 3, A2: 2, A3: 1, A4: 2, A5: 2, A6: 1}),
 ID 353 -({A1: 3, A2: 2, A3: 1, A4: 3, A5: 1, A6: 1}),
 ID 355 +({A1: 3, A2: 2, A3: 1, A4: 3, A5: 2, A6: 1}),
 ID 357 +({A1: 3, A2: 2, A3: 1, A4: 3, A5: 3, A6: 1}),
 ID 358 -({A1: 3, A2: 2, A3: 1, A4: 3, A5: 3, A6: 2}),
 ID 361 -({A1: 3, A2: 2, A3: 2, A4: 1, A5: 1, A6: 1}),
 ID 364 -({A1: 3, A2: 2, A3: 2, A4: 1, A5: 2, A6: 2}),
 ID 365 +({A1: 3, A2: 2, A3: 2, A4: 1, A5: 3, A6: 1}),
 ID 366 -({A1: 3, A2: 2, A3: 2, A4: 1, A5: 3, A6: 2}),
 ID 369 +({A1: 3, A2: 2, A3: 2, A4: 2, A5: 1, A6: 1}),
 ID 371 -({A1: 3, A2: 2, A3: 2, A4: 2, A5: 2, A6: 1}),
 ID 372 -({A1: 3, A2: 2, A3: 2, A4: 2, A5: 2, A6: 2}),
 ID 374 -({A1: 3, A2: 2, A3: 2, A4: 2, A5: 3, A6: 2}),
 ID 377 +({A1: 3, A2: 2, A3: 2, A4: 3, A5: 1, A6: 1}),
 ID 382 -({A1: 3, A2: 2, A3: 2, A4: 3, A5: 3, A6: 2}),
 ID 384 -({A1: 3, A2: 2, A3: 2, A4: 3, A5: 4, A6: 2}),
 ID 385 -({A1: 3, A2: 3, A3: 1, A4: 1, A5: 1, A6: 1}),
 ID 387 -({A1: 3, A2: 3, A3: 1, A4: 1, A5: 2, A6: 1}),
 ID 389 -({A1: 3, A2: 3, A3: 1, A4: 1, A5: 3, A6: 1}),
 ID 390 +({A1: 3, A2: 3, A3: 1, A4: 1, A5: 3, A6: 2}),
 ID 398 -({A1: 3, A2: 3, A3: 1, A4: 2, A5: 3, A6: 2}),
 ID 409 -({A1: 3, A2: 3, A3: 2, A4: 1, A5: 1, A6: 1}),
 ID 417 +({A1: 3, A2: 3, A3: 2, A4: 2, A5: 1, A6: 1}),
 ID 419 -({A1: 3, A2: 3, A3: 2, A4: 2, A5: 2, A6: 1}),
 ID 421 -({A1: 3, A2: 3, A3: 2, A4: 2, A5: 3, A6: 1}),
 ID 422 -({A1: 3, A2: 3, A3: 2, A4: 2, A5: 3, A6: 2}),
 ID 425 +({A1: 3, A2: 3, A3: 2, A4: 3, A5: 1, A6: 1}),
 ID 427 -({A1: 3, A2: 3, A3: 2, A4: 3, A5: 2, A6: 1}),
 ID 432 -({A1: 3, A2: 3, A3: 2, A4: 3, A5: 4, A6: 2}))

## Assignment 0

Monk1 is modelled over $(a_1 = a_2) \lor (a_5 = 1)$. 
Monk2 data is described by $a_i = 1$ for exactly two of $i \in {1, 2, 3, 4, 5, 6}$.
Monk3 data consists of $(a_5 = 1 \land a_4 = 1) \lor (a_5 \neq 4 \land a_2 \neq 3)$.

Monk2 is the most difficult to learn, because the entropy measure depends on inconsistent features. Meaning, the decision on whether to base the boundary on a certain feature $f$ changes for each data entry.

## Assignment 1

In [3]:
import python.dtree as dtree

In [4]:
dtree.entropy?

In [5]:
dtree.entropy(monkdata.monk1)

1.0

In [6]:
dtree.entropy(monkdata.monk2)

0.957117428264771

In [7]:
dtree.entropy(monkdata.monk3)

0.9998061328047111

## Assignment 2

In [8]:
import numpy as np
import scipy.stats as stats

In [9]:
stats.entropy(np.random.uniform(0, 1, size=100))

4.412662410184567

In [10]:
stats.entropy(np.random.poisson(size=100))

4.008100375348551

In [11]:
stats.entropy(np.ones(100))

4.60517018598809

In [12]:
stats.entropy(np.zeros(99) + [1])

4.595119850134591

In [13]:
stats.entropy(np.ones(50) + np.zeros(50))

3.9120230054281455

## Assignment 3

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(columns=[str(i) for i in range(1, 7)])
for i, dataset in enumerate([monkdata.monk1, monkdata.monk2, monkdata.monk3]):
    gain = []
    for attribute in monkdata.attributes:
        gain.append(dtree.averageGain(dataset, attribute))
    df.loc[i] = gain
df

          1         2         3         4         5         6
0  0.075273  0.005838  0.004708  0.026312  0.287031  0.000758
1  0.003756  0.002458  0.001056  0.015664  0.017277  0.006248
2  0.007121  0.293736  0.000831  0.002892  0.255912  0.007077

Based on the above table, $a_5$ should be used as a root node in Monk1, $a_5$ in Monk2, and $a_2$ in Monk3.

Information gain as a heuristic for splitting makes sense, because we are trying to find decision boundaries that separate the most data into output labels. By splitting on the boundaries that contains the most information, we reduce the problem as much as possible.

## Assignment 5

In [20]:
help(dtree.select)

Help on function select in module python.dtree:

select(dataset, attribute, value)
    Return subset of data samples where the attribute has the given value

In [21]:
m1_A5_1 = dtree.select(monkdata.monk1, monkdata.attributes[4], 1)
m1_A5_2 = dtree.select(monkdata.monk1, monkdata.attributes[4], 2)
m1_A5_3 = dtree.select(monkdata.monk1, monkdata.attributes[4], 3)
m1_A5_4 = dtree.select(monkdata.monk1, monkdata.attributes[4], 4)

In [22]:
df = pd.DataFrame(columns=[str(i) for i in range(1, 7)])
for i, dataset in enumerate([m1_A5_1, m1_A5_2, m1_A5_3, m1_A5_4]):
    gain = []
    for attribute in monkdata.attributes:
        gain.append(dtree.averageGain(dataset, attribute))
    df.loc[i] = gain
df

          1         2         3         4    5         6
0  0.000000  0.000000  0.000000  0.000000  0.0  0.000000
1  0.040217  0.015063  0.037273  0.048892  0.0  0.025807
2  0.033055  0.002197  0.017982  0.019123  0.0  0.045109
3  0.206291  0.033898  0.025906  0.075933  0.0  0.003324

In this next level, the nodes tested should be the ones with the highest information gain. Disregarding the first (empty) dataset, the attributes to test are: $a_4$, $a_6$, and $a_1$.

In [23]:
dtree.mostCommon(m1_A5_2)

False

In [24]:
dtree.mostCommon(m1_A5_3)

False

In [25]:
dtree.mostCommon(m1_A5_4)

False

```
                A5
  +-------+------+--------+-------+
  |       |               |       |
  T      A4              A6      A1
          |               |       |
          F               F       F
```

In [26]:
m1_tree = dtree.buildTree(monkdata.monk1, monkdata.attributes)

In [27]:
import python.drawtree_qt5 as drawtree

In [29]:
drawtree.drawTree(m1_tree)

SystemExit: 0

In [30]:
df = pd.DataFrame(columns=["Train", "Test"])
for i, (train, test) in enumerate([(monkdata.monk1, monkdata.monk1test), (monkdata.monk2, monkdata.monk2test), (monkdata.monk3, monkdata.monk3test)]):
    gain = []
    tree = dtree.buildTree(train, monkdata.attributes)
    score_train = dtree.check(tree, train)
    score_test = dtree.check(tree, test)
    df.loc[i] = [score_train, score_test]
df

   Train      Test
0    1.0  0.828704
1    1.0  0.692130
2    1.0  0.944444

## Assignment 6

## Assignment 7

In [16]:
import random
def partition(data, fraction):
    ldata = list(data)
    random.shuffle(ldata)
    breakPoint = int(len(ldata) * fraction)
    return ldata[:breakPoint], ldata[breakPoint:]

In [20]:
def create_trees(fraction):
    monk1train, monk1val = partition(monkdata.monk1, fraction)
    monk2train, monk2val = partition(monkdata.monk2, fraction)
    monk3train, monk3val = partition(monkdata.monk3, fraction)
    trees = []
    for i, (train, val) in enumerate([(monk1train, monk1val), (monk2train, monk2val), (monk3train, monk3val)]):
        tree = dtree.buildTree(train, monkdata.attributes)
        score = dtree.check(tree, val)
        while True:
            p_score = 0
            p_tree = tree
            for pruned in dtree.allPruned(tree):
                current_score = dtree.check(tree, val)
                if current_score > p_score:
                    p_score = current_score
                    p_tree = pruned
            if p_score <= score:
                trees.append(p_tree)
                break
    return trees

In [21]:
def test_trees(trees):
    df = pd.DataFrame(columns=["Train", "Test"])
    for i, (train, test) in enumerate([(monkdata.monk1, monkdata.monk1test), (monkdata.monk2, monkdata.monk2test), (monkdata.monk3, monkdata.monk3test)]):
        gain = []
        tree = trees[i]
        score_train = dtree.check(tree, train)
        score_test = dtree.check(tree, test)
        df.loc[i] = [score_train, score_test]
    return df

In [65]:
res = []
for fraction in np.arange(0.3, 0.81, 0.1):
    trees = create_trees(fraction)
    res.append(test_trees(trees))

In [26]:
res = []
for fraction in np.arange(0.3, 0.81, 0.1):
    trees = create_trees(fraction)
    res.append(test_trees(trees))
res

In [27]:
res[0]

      Train      Test
0  0.500000  0.500000
1  0.621302  0.671296
2  0.508197  0.472222

In [31]:
res[3]

      Train      Test
0  0.500000  0.500000
1  0.621302  0.671296
2  0.508197  0.472222